@charset "utf-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/NotoSansKR-Light.woff2) format('woff2'),
       url(fonts/NotoSansKR-Light.woff) format('woff'),
       url(fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url('fonts/NotoSansKR-Regular.woff2') format('woff2'),
        url('fonts/NotoSansKR-Regular.woff') format('woff'),
        url('fonts/NotoSansKR-Regular.otf') format('opentype');
 }


html, body { 
    margin:0; padding:0;border: 0; 
    font-family:'Noto Sans KR', Helvetica, '맑은 고딕', sans-serif;
    font-size: 14px;
    line-height: 20px;
    vertical-align: baseline;
   	text-decoration:none;
	color: #555;
    font-weight:300;
    word-break:keep-all;
}

/*--------------------
Base
----------------------*/

html, form, fieldset, img {margin:0;padding:0;border:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

#hd ul, nav ul, #ft ul, ul {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
p {margin:0;padding:0;word-break:normal; }
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
ol, ul {list-style: none;}

caption {height:0;overflow:hidden;font-size:0;line-height:0;text-indent:-20000px;}
table {border-collapse: collapse;border-spacing: 0;}


a {text-decoration: none;color: #555}
a:active, a:link, a:visited {color:#555;outline: 0;text-decoration: none;}
a:hover {color:#3067b8;outline: 0;-webkit-transition-duration: 0.5s; transition-duration: 0.5s;cursor: pointer; transition: all 0.5s; text-decoration:none}

blockquote, q {quotes: none;}
blockquote:before, blockquote:after, address, h1, h2, h3, h4, h5, em {font-style:normal;}
img {vertical-align: middle;}


html,body{height:100%;  margin:0;padding:0; border:0; word-break:keep-all ; }
* {margin: 0;}




/*--------------------
커뮤니티메인 체험하기
----------------------*/
.comm_try  {width: 950px; height: 170px;  background: #465d9a}
.comm_try .try_text {float:left;color:#fff;background:url('../images/icon_07.png') left 10px top 65px no-repeat; background-size: 50px; height: 100px; width: 260px; padding-left: 80px; padding-top:30px; line-height: 18px; }
.comm_try .try_text span {display: block; font-weight: 400; font-size:20px; padding-bottom: 10px; color: #ffe138}

.comm_try .try_list     {float:left; color: #fff; width: 600px; margin-top:35px; }
.comm_try .try_list li  {position: relative; display: inline-block; width: 95px;  margin-right: 10px; height: 30px; background: #fff; border-radius: 4px; padding-top: 50px; 
                          text-align: center; font-weight: 400; vertical-align: top}
.comm_try .try_list li span {position: absolute;top:85px; left:50%;transform:translateX(-50%); color:#fff; font-size: 11px; width: 100px;  }
.comm_try .try_list li.on   {background:#fff url('../images/comm_03.png') center top 20px no-repeat; background-size: 70px; color: #777; font-size: 13px; border: 5px solid #fff; }
.comm_try .try_list li.off  {background:#fff url('../images/comm_02.png') center top 20px no-repeat; background-size: 70px; color: #098eeb; font-size: 13px; border: 5px solid #30e6ec;  }
.comm_try .try_list a:hover li.off{border: 5px solid #5ebdff; }

button:focus { outline: none;}
.btngo {cursor: pointer;color: #111; width:160px; line-height:26px; text-align: center; background:#ffe138;  font-size:14px;  font-weight: 400; border-radius: 20px; margin-top: 10px; border: 0}
.btngo:hover  {color: #fff;background:#ec7210;}


/*--------------------
OS 체험하기 
----------------------*/

.cover_white   {width:100%; height: 100vh; background: url('../images/bg01.png'); background-size: cover }
.cover_black   {width:100%; height: 100vh; background: url('../images/bg02.png');  background-size: cover}

.finish        {position: absolute; left:50%; transform:translateX(-50%); top:calc(50% - 60px); width: 600px; height: 100px; 
                background: rgba(55, 60, 79, 0.8); border-radius: 60px; color:#fff; text-align: center; }
.finish span   {background: url('../images/icon_06.png') left 70px center no-repeat; background-size: 40px; line-height: 100px;display: block; 
                font-size:20px; margin-left: 20px; padding-left: 30px; font-weight: 400 }

.try_type1          {position: absolute; right:70px; top:100px; width:460px; height: 330px; background: #373c4f;border-radius: 20px; }
.try_type1 h1       {font-size:28px; color: #fff; vertical-align: bottom; font-weight: 300; padding:30px 30px 0 30px}
.try_type1 h1 img   {width: 280px;vertical-align: bottom; padding-right: 10px}
.try_type1 .info_01 {background: #3c4254 url('../images/emb.png') left 30px top 20px no-repeat; background-size: 50px; border-radius: 10px; 
                    padding:15px 30px 15px 100px; margin:20px 10px 10px; color: #fbfbfb; font-size:15px;}

.try_type1 .info_02 {border-radius: 10px; background: #51596b; margin:10px; height: 127px; overflow: hidden;}
.try_type1 .info_02 li {display: inline-block; float:left; text-align: center;height: 130px}
.try_type1 .info_02 li.user {width: 35%; background: #fff url('../images/icon_01.png') center top 30px no-repeat; background-size: 30px; padding-top: 70px; color: #666}
.try_type1 .info_02 li.user span{ display: block; color:#000; font-size: 18px; font-weight: 400}
.try_type1 .info_02 li.time {width: 30%; background:#fff url('../images/icon_02.png') center top 30px no-repeat; background-size: 30px; padding-top: 80px; font-size:24px; color: #373c4f; font-weight: 400}
.try_type1 .info_02 li.logout   {width: 35%;  background:url('../images/icon_03.png') center top 30px no-repeat; background-size: 30px;  font-size:20px; color: #fff; font-weight: 400}
.try_type1 .info_02 li.logout a {color: #fff;display:block;  height: 130px; padding-top: 80px;}
.try_type1 .info_02 li.logout a:hover {color:#9078f4} 


.try_type2          {position: absolute; right:70px; top:100px; width:500px; height: 280px; background: #f0f1f4 url('../images/emb2.png') left top no-repeat;    border-radius: 20px;  background-size: 150px;}
.try_type2 h1       {font-size:30px; color: #333;  font-weight: 300; padding:40px 0 0 180px;vertical-align: middle}
.try_type2 h1 img   {width: 170px; padding-right: 5px; vertical-align: top}
.try_type2 .info_01 {padding:15px 30px 15px 180px; font-size:15px;}

.try_type2 .info_02 {border-radius: 10px; background: #51596b;  height: 85px; overflow: hidden;  margin: 20px;box-shadow: 2px 2px 4px rgba(0,0,0,0.1); }
.try_type2 .info_02 li {display: inline-block; float:left; height:85px;}
.try_type2 .info_02 li.user {width: 35%; background: #fff url('../images/icon_04.png') left 20px top 17px no-repeat; background-size: 50px; padding-top: 20px; color: #666; padding-left: 90px}
.try_type2 .info_02 li.user span{ display: block; color:#000; font-size: 18px; font-weight: 400; padding-bottom: 5px}
.try_type2 .info_02 li.time {width: 25%; background:#fff url('../images/icon_05.png') center top 18px no-repeat; background-size: 27px; text-align: center; padding-top: 50px; font-size:14px; color: #373c4f; font-weight: 400}
.try_type2 .info_02 li.logout   {width: 20%;  background:url('../images/icon_03.png') center top 18px no-repeat; background-size: 24px;  text-align: center; color: #fff; font-weight: 400}
.try_type2 .info_02 li.logout a {color: #fff;display:block;  height: 85px; padding-top: 50px;}
.try_type2 .info_02 li.logout a:hover {color:#9078f4} 




/*--------------------
레이어팝업
----------------------*/
<<<<<<< HEAD
.modal_hamoni {/*display:none;*/ position: fixed; z-index:98; width: 100%; height: 100%; top: 0px; left: 0px; background-color:rgba(0,0,0,0.5)}
.pop_wrap {width: 900px; height: 720px; position: absolute;top: 10px; left: 50%; transform:translateX(-50%);  z-index: 99;  background: #fff; border-radius: 5px; border: 4px solid #fff }
=======
.modal_hamoni {display:none; position: fixed; z-index:98; width: 100%; height: 100%; top: 0px; left: 0px; background-color:rgba(0,0,0,0.5)}
.pop_wrap {width: 900px; height: 720px; position: absolute;top: 70px; left: 50%; transform:translateX(-50%);  z-index: 99;  background: #fff; border-radius: 5px; border: 4px solid #fff }
>>>>>>> 36376bd021f074942c3ad3c46d2e5ff144e87a00
.modal_wrap {width: 900px; height: 500px; overflow: auto;  display: block}
.pop_content {padding:10px 40px;font-weight: 400; }

.pop_title {position: relative; background: #39cbcf;  color:#000; padding:30px 20px 20px 20px; border-top-left-radius: 5px; border-top-right-radius: 5px; font-weight: 400; margin-bottom: 10px}
.pop_title .himg { padding: 18px 40px 0 20px; float: left; }
.pop_title .himg img {width:400px}
.pop_title .font1 {font-size: 15px; }
.pop_title .font1 span {font-size: 18px; display: block; font-weight: bold}
.pop_title .font2 {font-size: 13px; margin-top: 10px; line-height: 18px; opacity: 0.9}
.pop_content h1 {font-size: 25px; color:#1666a3; padding-bottom: 40px; text-align: center }
.pop_content h2 {font-size: 16px; color:#000;padding-bottom: 10px}
.mB10 {margin-bottom: 10px}
.mB20 {margin-bottom: 20px}
.mB30 {margin-bottom: 30px}
.mL20 {margin-left: 20px}
.hagoimg img {margin-bottom: 10px; margin-left: 20px; width:600px}

.helplist {margin-left: 20px; margin-top: 10px}
.helplist li{display: inline-block; width: 32%; padding-bottom: 20px; vertical-align: top}
.helplist li img {border: 1px solid #ccd9dd; width: 230px }
.helplist li.ptext {width: 67%; font-size: 14px}
.helplist li span {color:#3f5cc4; font-weight: bold}
.pop_footer {position: relative; text-align: center;height: 20px; margin-top: 140px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.pop_footer img {width:200px; position: absolute; left:50%; transform:translateX(-50%); bottom: 0}

.modal_close {position: absolute; left:calc(50% - -454px); top:77px;  background: #000; font-size: 11px;  width:25px; height:25px; padding: 5px;  color:#fff; border-radius: 2px; }
.close-x {stroke: #fff;fill: transparent;stroke-linecap: round;stroke-width: 2;}
svg {display: block;}


.modal_wrap::-webkit-scrollbar {width: 4px; height: 4px;  }
.modal_wrap::-webkit-scrollbar-button:start:decrement, 
.modal_wrap::-webkit-scrollbar-button:end:increment {display: block; width: 10px;height: 10px; }
.modal_wrap::-webkit-scrollbar-track {background: rgba(0,0,0,0);  border-radius:10px; }
.modal_wrap::-webkit-scrollbar-thumb {background: #b9c0dc; border-radius:10px;}


.iwinv  {margin-top:30px; border-top:1px solid #ddd; padding-bottom:30px}
.iwinv h2 {margin-top: 30px}
.iwinv .iwbaro {margin-bottom: 20px}
.iwinv .iwbaro img {width: 80px; vertical-align: bottom; padding-right: 20px}
.iwinv a {font-weight: bold}
.iwinv font {text-decoration: underline; color:#3f5cc4;}
.iwinv .iwing img {width:100%; border: 1px solid #ddd; margin-top: 20px}


 @media (max-width: 900px) {
   
.comm_try  {width: 100%; height: 140px;  }
.comm_try .try_text {background:url('../images/icon_07.png') left 10px top 30px no-repeat;  background-size: 50px; height: auto; width: auto; padding-left: 80px; padding-top:10px; line-height: 18px; }
.comm_try .try_text span {display: block; font-weight: 400; font-size:17px; }
.comm_try .try_list     {display: none}
.btngo  {display: block}             
   
   
.mnone {display: none;}   
.pop_wrap {width: 90%; height: 500px;top: 30px; left: 50%; transform:translateX(-50%);  z-index: 99;border:1px solid #fff } 
.modal_wrap {width:100%; height: 300px; }
.pop_title {padding:10px ; line-height: 16px}   
.pop_title .himg { padding: 10px; float: none; }
.pop_title .himg img {width:150px}
.pop_title .font1 {font-size: 13px; }
   .pop_title .font1 span {font-size: 15px}
   
.pop_content {padding:10px;font-weight: 400; }   
.pop_content h1 {font-size: 17px; padding-bottom: 20px; letter-spacing: -1px }
.pop_content h2 {font-size: 15px; color:#000; letter-spacing: -1px}
.hagoimg img  {width: 90%}
   
.helplist li{display: block; width: 100%;}
.helplist li img {border: 1px solid #ccd9dd; width: 230px }
.helplist li.ptext {width: 100%; font-size: 14px}

.modal_close { left:calc(100% - 10%); top:28px;  background: #000; font-size: 11px;  width:25px; height:25px; z-index: 100}
.close-x {stroke: #fff;fill: transparent;stroke-linecap: round;stroke-width: 2;}
svg {display: block;}
   
   
}
