
@charset "utf-8";
@font-face {font-family:NanumGothic; src:url('NanumGothic.eot');}
@font-face { font-family:'NanumGothicWeb'; font-style:normal; font-weight:400; src: url('NanumGothic.woff') format('woff');}
@font-face { font-family:'NanumGothicBlod'; font-style:normal; font-weight:normal;  src: url('NanumGothicBold.woff') format('woff');}



.floatLeft{ float:left;}
.floatRight{ float:right;}
.clearLeft{ clear:left;}
.clearRight{ clear:right;}

.widgetContainer .open{ display:block !important;} 
.widgetContainer a{ text-decoration:none; color:#666666; line-height:24px;}
.widgetContainer .title{}
.widgetContainer a:hover,
.widgetContainer a:active,
.widgetContainer a:focus{ }
.widgetContainer img{ border:0;}
.widgetContainer em{ position:relative; line-height:1; display:inline-block; margin:-5px 0; *padding:0 1px; font-style:normal;}
.widgetContainer form{ margin:0; padding:0;}
.widgetContainer fieldset{ border:0; margin:0; padding:0;}

.widgetTabA{ position:relative; margin:0 0 10px 0; padding:0; *zoom:1; border-bottom:2px solid;}
.widgetTabA:after{ content:""; display:block; clear:both;} 
.widgetTabA li{ float:left; margin-right:1px; list-style:none; background-repeat:no-repeat; background-position:0 0;}
.widgetTabA li.active{ background-position:0 -30px;} 
.widgetTabA li a{ position:relative; left:2px; float:left; height:20px; padding:8px 15px 0 15px; padding-top:5px !important;  text-decoration:none; font-size:12px; background-repeat:no-repeat; background-position:right 0;  color:#267BB1 !important;  }
.widgetTabA li.active a{ background-position:right -30px; letter-spacing:-1px; color:#267BB1; padding-top:5px !important; }

ul.widgetA { margin:0; padding:0; list-style:none; }
ul.widgetA li { margin:0; list-style:none; padding:0; padding-left:10px; background:url(../img/list_arrow.gif) no-repeat 0px 13px;  }
.widgetTableA { width:100%; font-size:12px; position:relative; border:0;}
.widgetTableA tr{}
.widgetTableA td{ border:0; line-height:1.5; white-space:nowrap; vertical-align:top; padding:1px 5px 1px 5px; }
.widgetTableA td.title{ width:100%; white-space:normal; }
.widgetTableA td .board{ padding-right:5px;} 
.widgetTableA td .notice{ padding-right:5px;}
.widgetTableA td .category{ padding-right:5px; font-weight:normal;}
.widgetTableA td .replyNum a{ font:10px Tahoma;}
.widgetTableA td .trackbackNum a{ font:10px Tahoma;}
.widgetTableA td.summary{ white-space:normal;}
.widgetTableA td.time{ font-size:11px; font-family:Tahoma; vertical-align:middle;} 


.widgetTabC{ margin:0; padding:0; font-size:12px; border-top:1px solid;}
.widgetTabC li{ list-style:none; border-bottom:1px solid; *zoom:1; margin-bottom:1px;}
.widgetTabC li a{ display:block; padding:7px 0 6px 10px; text-decoration:none; *zoom:1;}

dl.widgetDivider{ margin:0;}
dl.widgetDivider dt{ position:absolute; width:0; height:0; overflow:hidden; font-size:0; line-height:0;}
dl.widgetDivider dd{ display:none; margin:0;} 

.widgetNavigator{ margin:0; padding:0; text-align:right; clear:both;}
.widgetNavigator li{ list-style:none; display:inline;}
.widgetNavigator li button{ width:16px; height:16px; padding:0; background-color:transparent; background-image:url(../img/white/buttonWidgetNavigation.gif); border:1px solid #ddd; cursor:pointer;}
.widgetNavigator li button.prev{ background-position:left center; *background-position:-1px center;}
.widgetNavigator li button.next{ background-position:right center; *background-position:13px center;}
.widgetNavigator li button span{ position:absolute; display:block; width:0; height:0; overflow:hidden; visibility:hidden;}

.widgetGalleryAo1{ position:relative; margin:0; padding:50px 0 0 0; border-top:1px solid white; font-size:12px; line-height:1.5; *zoom:1; _margin-right:-100%; background:url(../img/office1_gallery_bg.jpg) no-repeat 0 0;}
.widgetGalleryAo1:after{ content:""; display:block; clear:both;}
.widgetGalleryAo1 li { float:left; overflow:hidden; width:100px; margin-right:60px; margin-bottom:60px; padding-bottom:5px; white-space:nowrap; list-style:none;}
.widgetGalleryAo1 li.clearRight{ margin-right:0;}
.widgetGalleryAo1 li .thumb{ display:block; position:relative; width:100px; height:75px; margin-bottom:10px; overflow:hidden; text-decoration:none; margin-top:8px;}
.widgetGalleryAo1 li .thumb img{ display:block; position:relative; width:100%;}
.widgetGalleryAo1 li .thumb .imgNone{ display:block; position:relative; width:100%; height:70%; padding-top:30%; background:#eee; text-align:center; cursor:pointer; color:#000;}
.widgetGalleryAo1 li .thumb .board{ display:block; position:absolute; width:100%; top:0; left:0; padding:2px 0 0 0 !important; cursor:pointer; text-align:center; font-weight:normal; background:#000; color:#fff; opacity:0.6;  filter:alpha(opacity=60); -ms-filter:alpha('opacity=60'); }
.widgetGalleryAo1 li .thumb .category{ display:block; position:absolute; width:100%; bottom:0; left:0; padding:2px 0 0 0 !important; cursor:pointer; text-align:center; font-weight:normal; background:#000; color:#fff; opacity:0.6;  filter:alpha(opacity=60); -ms-filter:alpha('opacity=60'); }
.widgetGalleryAo1 li .author{color: #267BB1; font-style: normal; font-size: 10px; line-height: 12px;  padding: 2px 0 2px 20px; background:url(../img/author.png) no-repeat 0 1px; }
.widgetGalleryAo1 li .replyNum a{ font:10px Tahoma; margin:0 -1px;}
.widgetGalleryAo1 li .trackbackNum a{ font:10px Tahoma; margin:0 -1px;}
.widgetGalleryAo1 li .date{ font:11px Tahoma;}
.widgetGalleryAo1 li .hour{ font:11px Tahoma;}
.widgetGalleryAo1 #bgline{ float:left; position:relative; width:2px; height:199px; background:url(../img/office1_gallery_bg_line.png) no-repeat 0 0; overflow:visible; margin-left:-30px; margin-top:-40px; }
*:first-child+html .widgetGalleryAo1 #bgline{ display:none;}

/* widgetThumb */
.widgetThumb{ position:relative; margin:0; text-align:center; font-size:12px; line-height:1.5;}
.widgetThumb .thumb{ display:block; margin-bottom:5px; position:relative; *zoom:1; text-decoration:none; _float:left;}
.widgetThumb .thumb img{ display:block; width:100%;}
.widgetThumb .thumb .imgNone{ display:block; position:relative; width:100%; padding-top:30px; padding-bottom:50px; background:#eee; text-align:center; cursor:pointer; color:#000;}
.widgetThumb .thumb .category{ display:block; position:absolute; width:100%; bottom:0; left:0; padding:2px 0 0 0 !important; cursor:pointer; text-align:center; font-weight:normal; background:#000; color:#fff; opacity:0.6;  filter:alpha(opacity=60); -ms-filter:alpha('opacity=60'); }
.widgetThumb .title{ display:block;}
.widgetThumb .author{ display:block;}
.widgetThumb .date{ font-size:11px; font-family:Tahoma;}
.widgetThumb .hour{ font-size:11px; font-family:Tahoma;}

.widgetZineA{ position:relative; margin:0; padding:0; font-size:12px; line-height:1.5; *zoom:1;}
.widgetZineA:after{ content:""; display:block; clear:both;}
.widgetZineA li { list-style:none; clear:both; margin-bottom:10px; padding-bottom:10px; *zoom:1; overflow:hidden; }
.widgetZineA li p{ margin:0; padding:0;}
.widgetZineA li p.thumbArea{ position:relative; float:left; width:100px; margin-right:-100px; overflow:hidden;}
.widgetZineA li p.titleArea{ margin-left:120px; margin-bottom:6px; vertical-align:top;}
.widgetZineA li p.titleArea a{ line-height:1em;}
.widgetZineA li p.titleArea .board{ padding-right:5px;}
.widgetZineA li p.text{ margin-left:120px; margin-bottom:4px;}
.widgetZineA li p.authorArea{ margin-left:120px;}
.widgetZineA li p.authorArea .bar{ font:.8em normal; color:#ddd; padding-bottom:3px; padding-right:2px; }
.widgetZineA li .thumb{ display:block; position:relative; width:100px; height:75px; text-decoration:none; overflow:hidden;}
.widgetZineA li .thumb img{ position:relative; width:100%;}
.widgetZineA li .thumb .imgNone{ display:block; position:relative; width:100%; height:80%; padding-top:20%; background:#eee; text-align:center; cursor:pointer; color:#000;}
.widgetZineA li .thumb .category{ display:block; position:absolute; width:100%; bottom:0; left:0; padding:2px 0 0 0 !important; cursor:pointer; text-align:center; font-weight:normal; background:#000; color:#fff; opacity:0.6;  filter:alpha(opacity=60); -ms-filter:alpha('opacity=60'); }
.widgetZineA li .category{ padding-right:5px; font-weight:normal;}
.widgetZineA li .title{ font-weight:bold;}
.widgetZineA li .replyNum a{ font:10px Tahoma; margin:0 -1px;}
.widgetZineA li .trackbackNum a{ font:10px Tahoma; margin:0 -1px;}
.widgetZineA li .author{ margin-right:5px;}
.widgetZineA li .date{ font:11px Tahoma;}
.widgetZineA li .hour{ font:11px Tahoma;}

.widgetTabC{ border-color:#e5e5e5;}
.widgetTabC li{ border-color:#e5e5e5; background:#f8f8f8; border:none; border:1px solid #EAEAEA; border-right:none; }
.widgetTabC li.active{ background:#fff; border:none; border-left:1px solid #267bb1;}
.widgetTabC li a{ color:#267BB1;}
.widgetTabC li a:hover, 
.widgetTabC li a:active,
.widgetTabC li a:focus{ background:#fff;}

.widgetTabA{ border-color:#666; margin: 0; padding: 0; float: left; list-style: none; height: 32px; border-bottom: 1px solid #EAEAEA; border-left: 1px solid #EAEAEA; width: 100%;}
.widgetTabA li,
.widgetTabA li a{ }
.widgetTabA li a{ color:#333;}

.widgetA a.board { color:#333; padding-right:5px; background:url(../img/white/lineTextDiv.gif) no-repeat right center;}
.widgetA .notice{ color:#267BB1; background:url(../img/white/lineTextDiv.gif) no-repeat right center;}
.widgetA .category{ color:#333; background:url(../img/white/lineTextDiv.gif) no-repeat right center;}
.widgetA .replyNum a{ color:#267BB1;}
.widgetA .trackbackNum a{ color:#66c;}
.widgetA .author { color:#333; float:right;}
*:first-child+html .widgetA .author { float:none;}
.widgetA .date{ color: #ACACAC; font-style: normal; font-size: 10px; line-height: 12px; padding: 0;}
.widgetA .hour{ color:#888;}

.widgetTableA td.title a{ color:#333;}
.widgetTableA td .board{ color:#333; background:url(../img/white/lineTextDiv.gif) no-repeat right center;}
.widgetTableA td .notice{ color:#267BB1; background:url(../img/white/lineTextDiv.gif) no-repeat right center;}
.widgetTableA td .category{ color:#333; background:url(../img/white/lineTextDiv.gif) no-repeat right center;}
.widgetTableA td .replyNum a{ color:#267BB1;}
.widgetTableA td .trackbackNum a{ color:#66c;}
.widgetTableA td .author { color:#333;}
.widgetTableA td .date{ color: #ACACAC; font-style: normal; font-size: 10px; line-height: 12px; padding: 0;}
.widgetTableA td .hour{ color:#888;}

.widgetGalleryAo1 li .title{ color:#111; font-size:18px;  font-family:'Malgun Gothic','NanumGothicBlod',NanumGothic; padding-bottom:0; font-weight:bold;  }
.widgetGalleryAo1 li .title:hover{ text-decoration:none;}
.widgetGalleryAo1 li .text{ padding-top:8px; margin-bottom:5px; font-family:'Malgun Gothic','NanumGothicBlod',NanumGothic; font-size:12px; color:#555; word-break:normal; white-space:normal; line-height:16px; }
.widgetGalleryAo1 li .replyNum a{ color:#267BB1; padding: 2px 0 2px 20px; background:url(../img/comments.png) no-repeat 0 1px;}
.widgetGalleryAo1 li .trackbackNum a{ color:#66c;}
.widgetGalleryAo1 li .author{  }
.widgetGalleryAo1 li .date{ color:#333;margin-right:5px; color: #ACACAC; font-style: normal; font-size: 10px; line-height: 12px; padding: 2px 0 2px 20px; background:url(../img/date.png) no-repeat 0 1px;}


.widgetThumb{ color:#333;}
.widgetThumb a{ color:#333;}
.widgetThumb .hour{ color:#888;}

.widgetZineA li .board{ color:#333; background:url(../img/white/lineTextDiv.gif) no-repeat right center;}
.widgetZineA li .title{ color:#666; line-height:1em; }
.widgetZineA li .replyNum a{ color:#267BB1; padding: 2px 0 2px 20px; background:url(../img/comments.png) no-repeat 0 1px;}
.widgetZineA li .trackbackNum a{ color:#66c;}
.widgetZineA li .author{ color: #267BB1; font-style: normal; font-size: 10px; line-height: 12px;  padding: 2px 0 2px 20px; background:url(../img/author.png) no-repeat 0 1px;}
.widgetZineA li .category{ color:#333; background:url(../img/white/lineTextDiv.gif) no-repeat right center;}
.widgetZineA li .date{ margin-right:5px; color: #ACACAC; font-style: normal; font-size: 10px; line-height: 12px; padding: 2px 0 2px 20px; background:url(../img/date.png) no-repeat 0 1px;}

.widgetZineA li .hour{ color:#888;}
.widgetZineA li .text{ color:#999999; line-height:16px;}

.widgetContainer.black .widgetTabC{ border-color:#7f7f7f;}
.widgetContainer.black .widgetTabC li{ border-color:#7f7f7f; background:#222;}
.widgetContainer.black .widgetTabC li a{ color:#999;}
.widgetContainer.black .widgetTabC li a:hover,
.widgetContainer.black .widgetTabC li a:active,
.widgetContainer.black .widgetTabC li a:focus{ background:#333;}
.widgetContainer.black .widgetTabA{ border-color:#999;}
.widgetContainer.black .widgetTabA li, 
.widgetContainer.black .widgetTabA li a{ background-image:url(../img/black/buttonWidgetTab.gif);}
.widgetContainer.black .widgetTabA li a{ color:#999;}

.widgetContainer.black .widgetTableA td.title a{ color:#999;}
.widgetContainer.black .widgetTableA td .board{ color:#999; background:url(../img/black/lineTextDiv.gif) no-repeat right center;}
.widgetContainer.black .widgetTableA td .notice{ color:#267BB1; background:url(../img/black/lineTextDiv.gif) no-repeat right center;}
.widgetContainer.black .widgetTableA td .category{ color:#999; background:url(../img/black/lineTextDiv.gif) no-repeat right center;}
.widgetContainer.black .widgetTableA td .replyNum{ color:#267BB1;}
.widgetContainer.black .widgetTableA td .trackbackNum{ color:#66c;}
.widgetContainer.black .widgetTableA td .author { color:#999;}
.widgetContainer.black .widgetTableA td .date{ color:#999;}
.widgetContainer.black .widgetTableA td .hour{ color:#888;}

.widgetContainer.black .widgetGalleryAo1 li .title{ color:#999;}
.widgetContainer.black .widgetGalleryAo1 li .replyNum a{ color:#267BB1;}
.widgetContainer.black .widgetGalleryAo1 li .trackbackNum a{ color:#66c;}
.widgetContainer.black .widgetGalleryAo1 li .author{ color:#999;}
.widgetContainer.black .widgetGalleryAo1 li .date{ color:#999;}
.widgetContainer.black .widgetGalleryAo1 li .hour{ color:#888;}

.widgetContainer.black .widgetThumb{ color:#999;}
.widgetContainer.black .widgetThumb a{ color:#999;}
.widgetContainer.black .widgetThumb .hour{ color:#888;}

.widgetContainer.black .widgetZineA li .board{ color:#999; background:url(../img/black/lineTextDiv.gif) no-repeat right center;}
.widgetContainer.black .widgetZineA li .title{ color:#999;}
.widgetContainer.black .widgetZineA li .replyNum a{ color:#267BB1;}
.widgetContainer.black .widgetZineA li .trackbackNum a{ color:#66c;}
.widgetContainer.black .widgetZineA li .author{ color:#999;}
.widgetContainer.black .widgetZineA li .category{ color:#999; background:url(../img/black/lineTextDiv.gif) no-repeat right center;}
.widgetContainer.black .widgetZineA li .date{ color:#999;}
.widgetContainer.black .widgetZineA li .hour{ color:#888;}
.widgetContainer.black .widgetZineA li .text{ color:#888;}

.small-button-holder{ margin-top:25px;}
.small-button span{ color:#267BB1; text-decoration:none;}
.small-button:hover span{ text-decoration:none;}

#tiva-contents{ background:none !important; padding-top:0;}