@charset "utf-8";
/* 초기화 */

@import url("content.css");
@import url("form.css");
@import url("materialicons.css");

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(fonts/NotoSansKR-Thin.woff2) format('woff2'),
       url(fonts/NotoSansKR-Thin.woff) format('woff'),
       url(fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/NotoSansKR-Light.woff2) format('woff2'),
       url(fonts/NotoSansKR-Light.woff) format('woff'),
       url(fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(fonts/NotoSansKR-Regular.woff) format('woff'),
        url(fonts/NotoSansKR-Regular.otf) format('opentype');
 }

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(fonts/NotoSansKR-Medium.woff) format('woff'),
        url(fonts/NotoSansKR-Medium.otf) format('opentype');
 }


html, body { 
    margin:0; padding:0;border: 0; 
    font-family:'Noto Sans KR', Helvetica, '맑은 고딕', sans-serif;
    font-size: 14px;
    line-height: 25px;
    vertical-align: baseline;
   	text-decoration:none;
	color: #555;
    font-weight:400;
    word-break:keep-all;
}




html, form, fieldset, img {margin:0;padding:0;border:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

#hd ul, nav ul, #ft ul, ul {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
p {margin:0;padding:0;word-break:normal; }
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
ol, ul {list-style: none;}

caption {height:0;overflow:hidden;font-size:0;line-height:0;text-indent:-20000px;}
table {border-collapse: collapse;border-spacing: 0;}


a {text-decoration: none;color: #555}
a:active, a:link, a:visited {color:#555;outline: 0;text-decoration: none;}
a:hover {color:#6446c2;outline: 0;text-decoration:none}

blockquote, q {quotes: none;}
blockquote:before, blockquote:after, address, h1, h2, h3, h4, h5, em {font-style:normal;}
img {vertical-align: middle;}


html,body{height:100%;    margin:0;padding:0; border:0;word-break:break-all; }
* {margin: 0;}

html,body{
    height:100%;    
    margin:0;
    padding:0;
    border:0;
}

div{margin:0;border:0;}



/*--------------------
layout
----------------------*/

.hamo_header				{position:relative; min-width:1700px; width:100%;height:70px; background: #6446c2;font-size:0}

.hamo_header .logo  {width:245px; border-right:5px solid #6446c2;  height:70px;  display:inline-block; background-color: #333; vertical-align: top}
.hamo_header .logo img {width:200px; padding: 20px 0 0 20px }

.hamo_header .hamo_search {width:475px; background: #fff;  height: 70px; display:inline-block; }
.hamo_header .hamo_search label {font-size:0;}
.hamo_header .hamo_search input {margin:15px 20px; height:45px; width: 370px; font-size:16px; color:#4d3599;border: 0px }
.hamo_header .hamo_search i {font-size:30px;  color: #6446c2; vertical-align: middle}

.hamo_header .user_info {width:475px; display:inline-block; text-align: right;font-size:14px; }
.hamo_header .user_info li  {display:inline-block; color:#fff;}
.hamo_header .user_info li a {color:#fff}
.hamo_header .user_info li a:hover {opacity: 0.7}
.hamo_header .user_info li i {font-size:22px; opacity: 0.7; vertical-align: middle; padding-right:7px; }
.hamo_header .user_info li:after {content: " | " ; padding:0 20px ; opacity: 0.3}
.hamo_header .user_info li:last-child:after  {content: " "; padding:0 }



.hamo_container{width:100%;  display:table; min-width: 1700px; width:100%; height:calc(100% - 120px);display:table; border-collapse:separate;  background:#f2f2f2; background-size:500px }
.con_left { display:table-cell;   height:calc(100% - 50px); width:245px;  border-right:5px solid #6446c2;  vertical-align: top; background-color: #333; z-index: 99;}
.con_right { display:table-cell;  height:calc(100% - 50px); vertical-align: top; padding-bottom: 30px }

.hamo_footer{ position:relative; background:#ececec;width:100%; min-width: 1600px; height:50px;  border-top:1px solid #fff;font-size:12px;  }
.hamo_footer img {width:100px; opacity: 0.5; padding-right:30px}
.hamo_footer p {padding-left:550px; padding-top: 10px; color:#777}


.sidebar-wrapper {margin-top:40px }
.sidebar-wrapper ul {list-style-type: none;padding: 0;margin: 0;}
.sidebar-wrapper .sidebar-menu ul li {border-bottom: 1px solid #444; line-height: 50px;}
.sidebar-wrapper .sidebar-menu ul li a {display: inline-block;width: 90%;text-align: right;  position: relative; color:#fff; padding-right: 15px}
.sidebar-wrapper .sidebar-menu ul li a:hover {opacity: 0.5}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {padding: 5px 0;}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {padding-left: 25px;font-size: 13px;  background: #6446c2; line-height: 40px; border-bottom: 1px solid #795fda}
.sidebar-wrapper .sidebar-menu .sidebar-submenu {display: none;}
.sidebar-wrapper .sidebar-menu .sidebar-submenu.current {display: block;}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a.current:after  {content:"◀"; font-size:10px; vertical-align: middle;  padding-left:10px;}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li.sub3th { border-bottom: 0; line-height: 35px!important}




.main_content_01 { display: inline-block; width:950px; vertical-align: top}
.main_content_02 { display: inline-block;width:380px;vertical-align: top;margin-left:30px; }
.sub_content {display: inline-block; width:950px; vertical-align: top; padding:40px 0 0 30px; }

.main_slide {width:950px; position: relative}
.main_slide img {width:950px; z-index: 1}
.main_slide .mtext1 {position: absolute; left:400px; top:60px; font-size:18px; color:#fff ;z-index: 2; font-weight: 500; letter-spacing: -1px}
.main_slide .mtext2 {position: absolute; left:400px; top:90px; font-size:12px; color:#fff ;z-index: 2; line-height: 18px; font-weight: 300}

.main_board {width:440px;padding: 30px 0 30px 33px; display: inline-block; vertical-align: top}
.main_board a:hover {text-decoration: underline}
.more a{position: absolute; right:0; top:0; color:#888; border-radius: 30px; height: 20px; line-height: 20px;  border:1px solid #ccc; padding: 0 15px; font-size: 12px}
.more a:hover {text-decoration:none; color:#222!important}
.con_right .title {font-weight: 500; color:#333; padding-bottom: 10px;}



.main_blist {width:440px; position: relative; margin-bottom: 40px}
.main_blist ul  {background: #fff; padding: 20px; }
.main_blist ul li {display: block}
.main_blist ul li span {text-align: right; color:#6446c1; font-size:12px; float:right}

.blist_quick {width:440px; }
.blist_quick ul  {background: #fff; padding:30px 0; border-radius: 30px}
.blist_quick ul li {display: inline-block; width:140px; font-size: 17px; text-align: center;  padding-top: 60px; background-repeat: no-repeat; background-position: center top; background-size:50px;}
.blist_quick ul li.mbg1 {background-image:url("../images/icon_download.png"); }
.blist_quick ul li.mbg2 {background-image:url("../images/icon_guide.png"); }
.blist_quick ul li.mbg3 {background-image:url("../images/icon_with.png");}

.main_source {position: relative; margin-bottom: 40px}
.main_source ul  {font-size:0 }
.main_source ul li {display:inline-block; width:213px; height:205px; background: #fff; line-height: 18px; padding-bottom: 10px; font-size:13px;margin-right: 10px}
.main_source ul li span {display: block;color:#6446c1; font-size:12px; padding: 20px 10px 0 10px; }
.main_source ul li em {display: block;padding:10px }
.main_source ul li img {width: 100%; height:115px}
.main_source ul li:last-child {margin-right:0 }

.right_quick {position: relative; width:350px; display: inline-block; margin-top: 50px}
.right_quick ul {background: #fff;}
.right_quick ul li{padding:32px 30px 33px 90px; border-bottom: 1px solid #eee; background-image:url("../images/icon_download.png");background-repeat: no-repeat; background-position: left 30px center; background-size:40px; line-height: 18px }
.right_quick ul li span {display: block;color:#6446c1; font-size:12px;  }
.right_quick ul li em {display: block;color:#333; font-weight: 500; font-size:14px;}
.right_quick ul li font {display: block;color:#999;font-size:12px; overflow: hidden ;text-overflow: ellipsis;white-space: nowrap;width: 230px;}
.right_quick ul li a:hover em, .right_quick ul li a:hover font {text-decoration: underline}
.right_quick ul li:last-child {border-bottom: 0;}

.right_banner {margin-top:30px;}
.right_banner li  {padding-bottom: 10px; display: block}
.right_banner li img {width:350px}










/*--------------------
해상도별
----------------------*/
 @media (max-width: 1680px) {

}


 @media (max-width: 1440px) {

     
}
















