/*--------------------
폼 style
----------------------*/

input[type=text], input[type=password] {
    box-sizing: border-box; 
    -webkit-appearance:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px; 
    background-color:#fff; 
    vertical-align: middle;
    font-family:'Noto Sans KR', Helvetica, '맑은 고딕', sans-serif;
    
}


input:focus { outline: none;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset;}
label {font-weight: 400!important;}
.labelzero {font-size:0;margin:0; padding:0}

/* placeholder */
input::placeholder{color: #bbb}
input::-webkit-input-placeholder {color:#bbb; }
input::-moz-placeholder          {color:#bbb;}
input:-moz-placeholder           {color:#bbb;}
input:-ms-input-placeholder      {color:#bbb;}
textarea::-webkit-input-placeholder {color:#bbb;}
textarea::-moz-placeholder          {color:#bbb;}
textarea:-moz-placeholder           {color:#bbb;}
textarea:-ms-input-placeholder      {color:#bbb;}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color:transparent; } 
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { color:transparent; } 
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color:transparent; } 
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { color:transparent; }




/* bottom line input */

.input_type1 {border:1px solid #ccc; height:35px;font-size:14px; padding-left:10px;margin:3px 1px; color:#555}
.input_type1:focus {border:1px solid #5c93d6; background:#fff} 


.hamo_tetarea {
    overflow: auto; border:1px solid #ddd; 
    font-family:'Noto Sans KR', Helvetica, '맑은 고딕', sans-serif;  font-size:12px; color:#555;
    padding:10px; width:98%;-webkit-appearance:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
    height: 250px;
} 


/* 셀렉트 */
select::-ms-expand{display:none;}
select {
-webkit-appearance: none;-moz-appearance: none;appearance: none; 
vertical-align: middle;
-webkit-box-shadow:none;
box-shadow:none;
box-sizing:border-box;
border-radius: 3px;
background:#fff url(../images/icon_sel.png) no-repeat;
font-size:14px;
-webkit-background-size: 10px auto;
background-size: 10px auto;
background-position:right 10px top 15px;
color:#555;
height:35px; 
font-family:'Noto Sans KR', Helvetica, '맑은 고딕', sans-serif;
}
textarea, select:focus{ outline: none; } 

/* 기본 */
.sel_type1  {border:1px solid #ccc; color:#555;padding:0 30px 0 10px; height:35px;  min-width: 200px; margin:3px 1px;  } 





/* 버튼 */
button {
border:0;
-webkit-transition-duration: 0.4s; transition-duration: 0.4s;
-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
cursor: pointer;
display: inline-block;
vertical-align:middle; 
text-align: center;
box-sizing: border-box;
font-family:'Noto Sans KR', Helvetica, '맑은 고딕', sans-serif;
}
button:focus { outline: none;}


.btn_log1 {background-color: #9174d9; color:#fff; line-height: 20px; padding:0 15px; height:30px;  font-size:13px; border-radius:30px; margin-left:5px}
.btn_log1:hover  {background-color: #46307d; }

.btn_log2 {background-color: #3e3a39; color:#fff; line-height: 20px; padding:0 15px; height:30px;  font-size:13px; border-radius:30px; margin-left:5px}
.btn_log2:hover  {background-color: #000; }

/* 흰배경 */
.btn_type1 {background-color: #fff; color:#555; line-height: 30px; padding:0 20px; height:35px;  font-size:13px; border:1px solid #ddd; margin:3px 1px;  }
.btn_type1:hover  {background-color: #ddd; }
.btn_type1.current{background-color:#7f8592; color:#fff; border:1px solid #7f8592;}

/* black */
.btn_type2 {background-color: #333; color:#fff; line-height: 35px; padding:0 20px; height:35px;  font-size:13px; }
.btn_type2:hover  {background-color: #000;}



