@charset "utf-8";
/* Mobile XE (/m.layouts/default/) */




@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(/layouts/hamonikr-join2/css/fonts/NotoSansKR-Thin.woff2) format('woff2'),
       url(/layouts/hamonikr-join2/css/fonts/NotoSansKR-Thin.woff) format('woff'),
       url(/layouts/hamonikr-join2/css/fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(/layouts/hamonikr-join2/css/fonts/NotoSansKR-Light.woff2) format('woff2'),
       url(/layouts/hamonikr-join2/css/fonts/NotoSansKR-Light.woff) format('woff'),
       url(/layouts/hamonikr-join2/css/fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(/layouts/hamonikr-join2/css/fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(/layouts/hamonikr-join2/css/fonts/NotoSansKR-Regular.woff) format('woff'),
        url(f/layouts/hamonikr-join2/css/onts/NotoSansKR-Regular.otf) format('opentype');
 }

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(/layouts/hamonikr-join2/css/fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(/layouts/hamonikr-join2/css/fonts/NotoSansKR-Medium.woff) format('woff'),
        url(/layouts/hamonikr-join2/css/fonts/NotoSansKR-Medium.otf) format('opentype');
 }


html, body { 
    margin:0; padding:0;border: 0; 
    font-family:'Noto Sans KR', Helvetica, '맑은 고딕', sans-serif!important;
    font-size: 14px;
    line-height: 25px;
    vertical-align: baseline;
   text-decoration:none;
    color: #555;
    font-weight:400;
    word-break:keep-all;
    background:#fff;
}


input {
    box-sizing: border-box; 
    -webkit-appearance:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px; 
    background-color:#fff; 
    vertical-align: middle;
    font-family:'Noto Sans KR', Helvetica, '맑은 고딕', sans-serif;

}

input:focus { outline: none;}




.fl{float:left}
.fr{float:right}
/* Header */

.hd:after{content:"";margin:0 -6px;position:relative;top:9px;display:block;clear:both;height:1px;background:#6352d2}
.hd .h1{float:left;display:inline;color:#fff;font-size:24px;margin:0;font-weight:500}
.hd .h1 a{color:#fff}
.hd .h1 img{border:0}

.hd .mu:after{content:"›";margin:0 0 0 2px}
.hd .muon:before{content:"‹";margin:0 2px 0 0}
.hd .mu:after,
.hd .muon:before{font-size:16px;line-height:16px;vertical-align:middle;position:relative;top:-2px;font-family:Verdana, Geneva, sans-serif}
/* Footer */
.ft{padding:0;margin:0;list-style:none;background:#868686;overflow:hidden;zoom:1}
.ft:after{content:"";display:block;clear:both}
.ft li{margin:0;padding:0;border:1px solid #9c9a99;border-top:0;border-bottom:0;margin:0 -1px;background:#868686}
.ft a{display:inline-block;padding:0 15px;color:#fff;font-size:12px;font-weight:500;line-height:32px;text-decoration:none}
/* Copyright */
.cr{margin:0;text-align:center;background:#f2f0ec;color:#494949;font-size:11px;line-height:26px}


h1.h1 img {width:150px; padding-left:15px; padding-top:7px}
.hd .mu{display:inline-block;height:35px;line-height:35px;padding:0 10px;margin:10px;border:0;font-size:12px;font-weight:500;color:#fff;background-color:#626262;text-decoration:none;
border-radius:3px;}

.hd .muon{cursor:pointer;display:inline-block;height:35px;line-height:35px;padding:0 10px;margin:10px;border:0;font-size:12px;font-weight:500;color:#fff;background-color:#626262;
text-decoration:none;border-radius:3px;}

.hd{min-height:28px;line-height:28px;padding:10px 0;margin:0 0 0 0border-bottom:0;background-color:#333;background-color:#333;*zoom:1}
.hd:after{height:0px;}


.hx.h2 a{font-size:14px; text-decoration:none; color:#333; font-weight:500}
.lt .title strong {font-weight:400;}
.lt .notice {font-weight:300; padding:0 3px}
.lt .auth strong {font-weight:400; color:#666; padding-right:10px}
.lt .auth .time {padding: 0 10px; color:#666}
.hx .write {top:12px;}
.hx {border-bottom:1px solid #ddd;}
.lt {background:#fff;}
.lt li {border-bottom:1px solid #ddd}
.pn {background:#fefefe; border-top:0;}
.sh {background:#fefefe; border-top:0;}
.sh select {width:100px}
.sh input[type=search] {height:35px;border:1px solid #ccc; }

.hx h2 {font-size:16px; display: block; font-weight: 500; color:#000 }
.hx.h2 {text-shadow:none!important}
.hx span.ex a {padding-left:1px} 
h3 {font-weight: 500; }
.hx {padding:16px 10px}
.sh select {height: 35px}




/* main */
.widgetContainer .hour {display: none!important}
div.Tiva #TitleBg h2 {font-size:16px!important}
div.Tiva #TitleBg {padding:0 20px}
div.Tiva a.widgetMoreLink {color:#333;right:20px; top:5px; font-size:13px}

.widgetTableA td {line-height:1.8}
.widgetTableA td.title a {font-size:14px!important}
.widgetTableA td.time {font-size:13px; color:#888!important}
.widgetTableA td .date{font-size:13px; color:#777!important;padding-right:0}
div.Tiva #TitleBg #titleLineDot {width:20px}
.widgetContainer {background:none; padding:0; width:100%}



/* sub */
.sub_area {padding:30px 20px!important}
.hamotitle h2 {padding-left:20px; font-size:17px}
.down_02 li {width:60%; word-break:break-all; height:100px}
.bg1 {background:#333 url("../images/hamo_none.png") no-repeat; border-radius: 10px}
.bg3 {background:#333 url("../images/hamo_none.png") no-repeat; border-radius: 10px}
.bg4 {background:#333 url("../images/hamo_none.png") no-repeat; border-radius: 10px}
.bg5 {background:#333 url("../images/hamo_none.png") no-repeat; border-radius: 10px}
.down_01 {padding:15px;height:auto}


.download_count {background-size:cover}
