.sf-shadow ul {

position: absolute;
top: -9999px;
background:none;
padding: 0 8px 9px 0;

-moz-border-radius-bottomleft: 17px;
-moz-border-radius-topright: 17px;
-webkit-border-top-right-radius: 17px;
-webkit-border-bottom-left-radius: 17px;

width:500px !important;
margin-left:-400px;


}

.sf-menu li li {
background: #F7F7F7;
width:100px !important;
z-index:999;
position:relative;
float:right;

}

.sf-menu ul li a {
border-top: none;
border-bottom: 1px solid #EFEFEF;
font-size: 12px;
padding: 9px 20px 9px 20px;
}

