#
# The MySQL database server configuration file.
#
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4
skip-character-set-client-handshake
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 1
